:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --gradient-dark: linear-gradient(135deg, #000000, #4b0082);
}

body {
  margin: 0;
  min-height: 100vh;

  background: var(--gradient-dark);
  color: rgba(255, 255, 255, 0.9);
}

#app {
  min-height: 100vh;
}

button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-family: inherit;
  cursor: pointer;
}